body {

	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	

}

.navbar {

	/* background-color: #B6FFCE; */
	background-color: #ffc107;
}

.btn {
	/* background-color: #B6FFCE; */
	background-color: #ffc107;
}

.page-title {

	padding-top: 10%;
	padding-bottom: 5%;

}

/* Заголовок */



.img-header {
	height: 40px; 
}



/* Блок быстрого выбора по какой проблеме звонить  */

#faster-call {
	padding: 3% 0 3% 0;

}


.price-img {
	height: 100px;
}

.pricing-column {
	padding: 2px 2px;
}

.card-header {
	background: #ffc107;
	/* background: #B6FFCE; */
 	
}

.card-body {
	background-color: #333;
}

/* Отзывы */
#feedback {
	text-align: center;

}

.feedback-title {
	background-color: #333;
}

.feedback-card {
	/* border-left: none;
	border-right: none;
	border-top: yellow; */
	 border: none;
}

.feedback-column {
	padding: 5px;
}

.carousel-control-prev-icon {
	background-image: url("../assets/images/previous.png");
}

.carousel-control-next-icon {
	background-image: url("../assets/images/next.png");
}

.img-feedback {
	height: 90px;
}

/* О нас */




.img-footer {
	height: 40px;
}




/* Страница Котакты */

.contact {
	padding-top: 5%;
}
.text-message {

	text-align: left;
}

.name-message {

	text-align: right;

}

.telegram {
	padding-right: 10px;
}


.href-text{
	text-decoration: none;
	color: #fff;;
}

.fa-telegram:hover{
	color: blue;
}

.fa-whatsapp:hover {
	color: green;
}

.fa-at:hover {
	color: rgb(0, 162, 255);
}


#map {
	padding-top: 5%;
}

.map-list-title {

	padding-top: 50px;
	padding-bottom: 50px;

}

@media (max-width: 600px) {

	.fixed-bottom {
		position: sticky;
	}

	.page-title {

		padding-top: 30%;
		padding-bottom: 5%;

	}

}

/* Футер */

.border-top{
	/* border-top: 1px solid #B6FFCE !important; */
	border-top: 1px solid #ffc107 !important;
}
