body {

	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	

}

/* Заголовок */

.img-header {
	height: 40px; 
}



/* Приветсвие */

.greeting {
	padding-top: 120px;
	padding-bottom: 100px;
	text-align: center;
	
}

/* Блок быстрого выбора по какой проблеме звонить  */

#faster-call {
	padding: 3% 0 3% 0;

}


.price-img {
	height: 100px;
}

.pricing-column {
	padding: 2px 2px;
}

.card-header {
	background: #ffc107;
 	
}

.card-body {
	background-color: #333;
}

/* Отзывы */
#feedback {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.carousel-control-prev-icon {
	background-image: url("../assets/images/previous.png");
}

.carousel-control-next-icon {
	background-image: url("../assets/images/next.png");
}

.img-feedback {
	height: 90px;
}

/* О нас */

#about {
	
	padding-top: 100px;
	padding-bottom: 100px;
}


.img-footer {
	height: 40px;
}


/* Услуги */

#service{
	padding-top: 120px;
}

/* Страница О Нас */

.about-text {
	padding-top: 5%;
}

/* Страница Котакты */

#contact {
	padding-top: 120px;
	
}

.contact {
	padding-top: 50px;
}

.text-message {

	text-align: left;
}

.name-message {

	text-align: right;

}

.telegram {
	padding-right: 10px;
}


.href-text{
	text-decoration: none;
	color: #fff;;
}

.fa-telegram:hover{
	color: blue;
}

.fa-whatsapp:hover {
	color: green;
}

.fa-at:hover {
	color: rgb(0, 162, 255);
}


@media (max-width: 600px) {

	.fixed-bottom {
		position: sticky;
	}

}

/* Футер */

.border-top{
	border-top: 1px solid #ffc107 !important;
}