{% extends "base.html" %}

{% block title %} <title> Срочный выездной Ремонт - О нас </title> {% endblock %}

{% block content %}
<section id="about">
    <div class="container">
      <h1 class="page-title">О нас</h1>
      
      <div class="about-text">
        <p>На рынке услуг с 2012 года.</p>
        <p>Наша цель — обеспечить вашу безопасность и комфорт на дороге.</p>
        <p>Опытные сотрудники всех направлений</p>
        <p>Устраняем большинство неисправностей на месте</p>
        <p>Работаем во всех районах города Санкт-Петербург и Лен. области</p>
        <p>Выезд по Санкт-Петербургу, в течение 15 минут.</p>
        <p>Выезд в за пределы КАД и ЛО до 30 минут.</p>
        <p>Высокая скорость ремонта автомобилей — выездной механик закончит работу не позже, чем специалисты стационарного автосервиса.</p>
        <p>Экономия средств — автомастер с выездом на место обойдётся дешевле по сравнению с вызовом эвакуатора, доставкой автомобиля в сервис и его ремонтом.</p>
      </div>
  

      </div>
</section>

{% endblock %}

{% block year %} {{ year }} {% endblock %}