{% include "header.html" %}

<section id="about">
    <div class="container">
      <h1>О нас</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae tenetur praesentium quo cupiditate laudantium error ad nulla recusandae quam aut culpa quos ab fuga, molestiae qui saepe tempore vel? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, repellat, eveniet commodi temporibus quos fugiat similique, minima nemo error rerum enim architecto totam sed consequatur dicta nulla omnis qui eaque?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quibusdam facere earum suscipit, doloribus exercitationem et reiciendis sed obcaecati. Quam earum cupiditate illum magni excepturi tenetur molestiae, numquam praesentium ipsam.</p>
    </div>
</section>

{% include "footer.html" %}