<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="https://t.me/sbelousov56">
  <meta name="description" content="Срочный выездной ремонт. Выезд мастера во все районы и лен.область города Санкт-Петербург. Предоставляем услуги, такие как прикурить авто, подвоз топлива, шиномонтаж, трезвый водитель, буксировка, вытащить авто из грязи или сугроба. А так же продажа зап. частей для автомобиля.">

  <!-- Credits -->
  <!-- "https://www.flaticon.com/free-icons/battery"     Battery icons created by Uniconlabs - Flaticon
  "https://www.flaticon.com/free-icons/accumulator" Accumulator icons created by Marz Gallery - Flaticon
  "https://www.flaticon.com/free-icons/diagnostic"  Diagnostic icons created by surang - Flaticon
  "https://www.flaticon.com/free-icons/car"         Car icons created by Smashicons - Flaticon
  "https://www.flaticon.com/free-icons/fuel"        Fuel icons created by Freepik - Flaticon
  "https://www.flaticon.com/free-icons/tyre"        Tyre icons created by Smashicons - Flaticon
  "https://www.flaticon.com/free-icons/hook"        Hook icons created by Smashicons - Flaticon
  "https://www.flaticon.com/free-icons/safe"        Safe icons created by monkik - Flaticon
  "https://www.flaticon.com/free-icons/tow"         Tow icons created by pongsakornRed - Flaticon
  "https://www.flaticon.com/free-icons/fuel"        Fuel icons created by Freepik - Flaticon -->

  <!-- <title>Срочный выездной ремонт</title> -->
  {% block title %}{% endblock %}

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="/home/c/ck63035/SRV/public_html/static/css/bootstrap.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
  
  <!-- CSS Style -->
  <!-- <link rel="stylesheet"   href="/home/c/ck63035/SRV/public_html/static/css/styles.css"> -->
  <!-- <link rel="stylesheet" href="/home/c/ck63035/SRV/public_html/templates/greeting_price.html" > -->
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
  
  
  <!-- Font Awesome style -->
  <script src="https://kit.fontawesome.com/0337b42812.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="/home/c/ck63035/SRV/public_html/static/favicon.ico" type="image/x-icon"> -->
  <link href="{{ url_for('static', filename='favion.ico') }}" rel="shortcut icon" type="image/x-icon"/>
  
  <!-- <link rel="icon" href="/home/c/ck63035/SRV/public_html/static/favicon.ico" type="image/x-icon"> -->
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon"/>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(89492329, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/89492329" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>


<body>

  <section id="title">
    <!-- Nav Bar -->
  
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand"><img class="img-header" src="{{ url_for('static', filename='assets/images/SVRLOGO2.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                  <a class="nav-link"  href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item call-text"> 
                  <a class="nav-link"  href="tel:+79315787670">Позвонить</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('services') }}">Услуги</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('create_feedback') }}">Отзывы</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('contact') }}">Контакты</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('about') }}">О нас</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </section>

  {% block content %} {% endblock %}

  <section id="footer">
    <div class="container footer stiky-bottom">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <img class="img-footer" src="{{ url_for('static', filename='assets/images/SVRLOGO2.png') }}" alt="">
          </a> 
          <span class="text-muted">{% block year%}{% endblock %}</span>
        </div>
        
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://t.me/svrspb78"><i class="fa-brands fa-telegram fa-lg"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://wa.me/79315787670"><i class="fa-brands fa-whatsapp fa-lg"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="mailto:info@svr-spb.ru"><i class="fa-solid fa-at fa-lg"></i></a></li>
        </ul>
      </footer>
    </div>
  </section>

  <!-- <script src="/home/c/ck63035/SRV/public_html/static/bootstrap/js/bootstrap.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
