{% include "header.html" %}

<section id="contact">
    <div class="container">
        <h1>Контакты</h1>
        <h2>Техническая помощь, заказ зап.частей, партнёрство</h2>

          <div class="row contact">
              <div class="col border-end name-message">
                  <h4>Телефон</h4>
              </div>

              <div class="col text-message">
                  <h4><a class="href-text" href="tel:+79117084809">+79117084809</a></h4>
              </div>
          </div>

          <div class="row">
            <div class="col border-end name-message">
                <h4>Email</h4>
            </div>

            <div class="col text-message">
                <h4><a class="href-text" href="mailto:info@svn.ru">info@svr.ru</a></h4>
            </div>
        </div>          

        <div class="row">
            <div class="col border-end name-message">
                <h4>Telegram и Whatsapp</h4>
            </div>

            <div class="col d-flex text-message">
                <h4 class="telegram"><a class="text-muted" href="https://t.me/niname"><i class="fa-brands fa-telegram fa-lg"></i></a></h4>
                <h4><a class="text-muted" href="https://wa.me/71231234567"><i class="fa-brands fa-whatsapp fa-lg"></i></a></h4>
            </div>
        </div>
    </div>
</section>


{% include "footer.html" %}