{% extends "base.html" %}

{% block title %} <title>Срочный Выездной Ремонт - Отзывы</title> {% endblock %}

{% block content %}
<!-- Отзывы -->
<section id="feedback">
    <div class="container">
      <h1 class="page-title">Отзывы</h1>
      <div class="row">
        {% for review in feedback: %}
        <div class="col-lg-12 feedback-column" >
        <div class="card feedback-card">
                <div class="card-header feedback-title">
                  {{ review.title }}
                </div>
                <div class="card-body feedback-text">
                    {{ review.text }}
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}

  {% block year %} {{ year }} {% endblock %}