{% include "header.html" %}

<!-- Отзывы -->
<section id="feedback">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="false">
          <div class="carousel-inner">

        {% for data_feedback in feedback: %}
        {% if data_feedback["id"]  == "1": %}
        <div class="carousel-item active">
          <img class="img-feedback" src={{ data_feedback.img }} alt="...">
          <h2 class="text-feedback">{{ data_feedback.title }}</h2>
          <p>{{ data_feedback.text }}</p>
        </div>
        {% else: %}
        <div class="carousel-item">
            <img class="img-feedback" src={{ data_feedback.img }} alt="...">
          <h2 class="text-feedback">{{ data_feedback.title }}</h2>
          <p>{{ data_feedback.text }}</p>
        </div>
        {% endif %}
        {% endfor %}
        

        <!-- <div class="carousel-item">
          <img class="img-feedback" src="static/assets/avatars/avataaars.png" alt="...">
          <h2 class="text-refeedbackview">Прикурили АКБ</h2>
          <p>Сел аккумулятор. 15 минут и готово. Спасибо!</p>
        </div>

        <div class="carousel-item">
          <img class="img-feedback" src="static/assets/avatars/avataaars (2).png" alt="...">
          <h2 class="text-feedback">Застрял</h2>
          <p>Застрял в снегу, думал не уеду. Приехал Вячеслав, повозились, но машину вытянули.
            Рекомендую!
          </p>
        </div> -->

    </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon"  aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </section>

{% include "footer.html" %}