<section id="footer">
    <div class="container footer sticky-bottom ">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <img class="img-footer" src="static/assets/images/logo.png" alt="">
          </a>
          <span class="text-muted">© 2021 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://t.me/niname"><i class="fa-brands fa-telegram"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://wa.me/71231234567"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="info@svn.ru"><i class="fa-solid fa-at"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="partnership@svn.ru"><i class="fa-solid fa-handshake"></i></a></li>
        </ul>
      </footer>
    </div>
  </section>

<script src="static/bootstrap/js/bootstrap.js"></script>
</body>
</html>