{% include "header.html" %}

	<div class="row">
        {% for price in price_list: %}
        <div class="col-lg-3 pricing-column" >
        <div class="card">
                <div class="card-header">
                  <img class="price-img" src={{ price.image }} alt="">
                </div>
                <div class="card-body">
                    <h3>{{ price.service }}</h3>
                    <p>{{ price.price }}</p>
                    <p>{{ price.price1 }}</p>
                    <a href="tel:+79117084809" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Вызвать мастера</a>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>

{% include "footer.html" %}