{% extends "base.html" %}

{% block title %} <title>Срочный Выездной Ремонт - Главная</title>{% endblock %}



{% block content %}
<!-- Популярные вызовы -->

    <section id="greeting">

      <div class="container greeting">
        <h1 class="page-title">Срочный выездной ремонт</h1>
        <h1>Помощь на дороге</h1>
        <h2>Свободных мастеров {{ master }}/45 </h2>
      </div>

    </section>

<section id="faster-call">

  <div class="container">
  <div class="row">
    {% for price in price_list: %}
    <div class="col-lg-4 pricing-column" >
    <div class="card">
            <div class="card-header">
              <img class="price-img" src={{ price.image }} alt="">
            </div>
            <div class="card-body">
                <h3>{{ price.service }}</h3>
                <p>{{ price.price }}</p>
                <p>{{ price.price1 }}</p>
                <a href="tel:{{ telephone.tel }}" class="btn btn-lg active" role="button" aria-pressed="true">Позвонить</a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>

<!-- Отзывы -->
<section id="feedback">
  <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="false">
        <div class="carousel-inner">

      <div class="carousel-item active">
        <img class="img-feedback" src="{{ url_for('static', filename='assets/images/avatars/avataaars (1).png') }}" alt="...">
        <h2 class="text-feedback">Проколол колесо</h2>
        <p>Старый фокус, болты прикипели. Ребята приехали помогли. Респект.</p>
      </div>

      <div class="carousel-item">
        <img class="img-feedback" src="{{ url_for('static', filename='assets/images/avatars/avataaars.png') }}" alt="...">
        <h2 class="text-refeedbackview">Прикурили АКБ</h2>
        <p>Сел аккумулятор. 15 минут и готово. Спасибо!</p>
      </div>

      <div class="carousel-item">
        <img class="img-feedback" src="{{ url_for('static', filename='assets/images/avatars/avataaars (2).png') }}" alt="...">
        <h2 class="text-feedback">Застрял</h2>
        <p>Застрял в снегу, думал не уеду. Приехал Вячеслав, повозились, но машину вытянули.
          Рекомендую!
        </p>
      </div>

  </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"  aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</section>

{% endblock %}

{% block year %} {{ year }} {% endblock %}
