{% include "header.html" %}

<section id="service">
    <div class="container border-top  border-dark">
        <div class="row align-items-start border-start border-end border-bottom border-dark">
            <div class="col col-name ">
                Наименование услуги
            </div>
            <div class="col col-price border-start border-dark">
                Стоимость, руб.
            </div>
        </div>
        <!-- start for-->
        <div class="row border-start border-end border-bottom border-dark">
            <div class="col col-name">Выездное ТО</div>
            <div class="col col-price border-start border-dark">10500</div>
        </div>
        <!-- end for -->
        <div class="row border-start border-end border-bottom border-dark">
            <div class="col col-name ">ТО ЦБ + Трекер</div>
            <div class="col col-price border-start border-dark">12500</div>
        </div>
    </div>
</section>

{% include "footer.html" %}