{% include "header.html" %}

<section id="service">
    <div class="container border-top  border-warning">
        <!-- <div class="row align-items-start border-start border-end border-bottom border-dark"> -->
            <!-- <div class="col-lg-9 col-sm col-name ">
                Наименование услуги
            </div>
            <div class="col-lg-3 col-sm col-price border-start border-dark">
                Стоимость, руб.
            </div> -->
        <!-- </div> -->
        {% for items in item: %}
        <div class="row border-start border-end border-bottom border-warning">
            <div class="col-lg-9 col-sm col-name price">{{ items.name }}</div>
            <div class="col-lg-3 col-sm col-price  items">{{ items.price }}</div>
        </div>
        {% endfor %}
    </div>
</section>

{% include "footer.html" %}